<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{site.title}}{% if page.title %} | {{page.title}} {% endif %}</title>
  <link rel="stylesheet" href="{{site.baseurl}}/css/font-awesome.min.css">
  <link rel="stylesheet" href="{{site.baseurl}}/css/syntax.css">
  <link rel="stylesheet" href="{{site.baseurl}}/css/main.css">
  <script src="{{site.baseurl}}/js/main.js" charset="utf-8"></script>
</head>
