$margin-border: 2px solid #ddd;

html, body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}
.wrapper {
  flex: 1 0 auto;
}

.container {
  margin: 0 1em;
  @media (min-width: 48em) {
    width: 80%;
    margin: 0 auto;
  }
}

#header {
  border-bottom: $margin-border;
  margin-bottom: 1.5em;
}

#footer {
  border-top: $margin-border;
  margin-top: 1.5em;
}
