@import 'variables';

$table-border: 1px solid #ddd;
$odd-row-bg: #f6f8fa;

table {
  font-size: 0.8em;
  border-collapse: collapse;
  border: $table-border;
  thead {
    tr {
      th {
        font-weight: bold;
        padding: 1em;
        border-right: $table-border;
        border-bottom: $table-border;
        &:last-child {
          border-right: none;
        }
      }
    }
  }
  tbody {
    tr {
      td {
        font-weight: normal;
        padding: 1em;
        border-right: $table-border;
        &:last-child {
          border-right: none;
        }
      }
      &:nth-child(2n-1) {
        background-color: $odd-row-bg;
      }
    }
  }
}
