@import 'variables';

// Body text
body {
  @media (min-width: $md-screen) {
    font-size: 16px;
  }
  font-size: 13px;
  font-family: 'Open Sans', sans-serif;
}

// Titles
h1 {
  font-size: 3em;
  color: $primary-color;
}
h2 {
  font-size: 1.5em;
  color: $secondary-color;
}
h3 {
  font-size: 1em;
  color: $primary-color;
}

// Code Blocks
pre {
  border-radius: 3px;
  padding: 1em;
  background-color: #f6f8fa;
  overflow: auto;
}
code {
  width: 100%;
  line-height: 1.125em;
  font-family: "Ubuntu Mono";
}

// Links
a {
  color: $link-color;
  text-decoration: none;
  cursor: pointer;
  &:hover {
    color: $secondary-color;
  }
}

a.unstyled {
  color: inherit;
  text-decoration: none;
  &:hover {
    color: inherit;
  }
}

// Alignment
.center {
  text-align: center
}
.right {
  text-align: right;
}
