.linear-resume-item:first-child:before {
	content: ""
}
.linear-resume-item:before {
	content: " | "
}
.linear-resume-list .title {
	font-weight: bold;
}
.linear-resume-list .title:after {
	content: ":";
}
.linear-resume-list .list {
	text-indent: 1.5em;
}
