.project {
	position: relative;
	border: 0.125em solid #ddd;
	padding: 1em 1em 2em 1em;
	width: 16.875em;
	margin: 1em;
}

.crop {
	display: inline-block;
	text-align: center;
	width: 16em;
	height: 16em;
	margin: 0 0.4375em;
	overflow: hidden;
}

.crop img {
	width: 100%;
	height: auto;
}

.project .github-link {
	position: absolute;
	bottom: 0;
	padding-bottom: 0.5em;
}



