.project {
	position: relative;
	border: 2px solid #ddd;
	padding: 8px 8px 2em 8px;
	width: 270px;
	margin: 1em;
}

.crop {
	width: 250px;
	height: 250px;
	overflow: hidden;
}

.crop img {
	height: auto;
	width: 250px;
}

.project .github-link {
	position: absolute;
	bottom: 0;
	padding-bottom: 0.5em;
}



