.vertical-resume-item {
	display: flex;
}
.vertical-resume-item > * {
	padding: 0 1em;
}

.vertical-resume-item .title {
	font-weight: bold;
}

.vertical-resume-item .resume-caption {
	width: 8em;
	overflow-x: hidden;
}
